# MinIO
ONPREM_MINIO_ENDPOINT=minio-svc-private.storage.svc.cluster.local:9000
ONPREM_MINIO_ACCESS_KEY=...
ONPREM_MINIO_SECRET_KEY=...
ONPREM_MINIO_SECURE=false

# Airflow
ONPREM_AIRFLOW_BASE_URL=http://airflow-webserver.orchestration.svc.cluster.local:8080
ONPREM_AIRFLOW_USERNAME=admin
ONPREM_AIRFLOW_PASSWORD=admin
ONPREM_AIRFLOW_API_VERSION=v1

# Kafka
ONPREM_KAFKA_BOOTSTRAP_SERVERS=kafka.streaming.svc.cluster.local:9092

# MongoDB
ONPREM_MONGO_URI=mongodb://user:password@mongodb.default.svc.cluster.local:27017
ONPREM_MONGO_DATABASE=platform

# Kubernetes
ONPREM_K8S_NAMESPACE=compute
ONPREM_K8S_IN_CLUSTER=true

# Hive
ONPREM_HIVE_HOST=hive-server.metastore.svc.cluster.local
ONPREM_HIVE_PORT=10000
ONPREM_HIVE_USERNAME=hive
ONPREM_HIVE_DATABASE=default

# OpenMetadata
ONPREM_OPENMETADATA_BASE_URL=http://openmetadata.openmetadata.svc.cluster.local:8585
ONPREM_OPENMETADATA_TOKEN=...

# OpenLineage
ONPREM_OPENLINEAGE_ENDPOINT=http://marquez.default.svc.cluster.local:5000
ONPREM_OPENLINEAGE_NAMESPACE=onprem-data-platform